#nav
  - if nav_class == :faq
    .nav-item.faq FAQ
    %a{href: '/'}
      .nav-item{class: 'active'} Events
  - else
    %a{href: '/faq'}
      .nav-item.faq{class: 'active'} FAQ
    .nav-item Events
