!!! 5
%head
  %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
  %title= page_title
  %link{:rel => :stylesheet, :type => :"text/css", :href => 'reset.css'}
  %link{:rel => :stylesheet, :type => :"text/css", :href => 'style.css'}
  %meta{charset: 'utf-8'}
%body{class: (defined?(admin) && admin) ? 'admin' : '' }
  #content= yield

  .footer
    created by
    %a{href: mailto} Jack Desert

  %script{src: 'jqlite.1.1.1.min.js'}
  %script{src: 'dancer.js'}
