div{
  border-radius: 0.5rem;
  color: #222;
}


body{
  padding: 2rem 0.1rem;
  background-color: #222;
}

.hidden{
  display: none;
}

#title{
  font-size: 200%;
  text-align: center;
  margin-top: -0.7rem;
  color: #999;
}
#subtitle{
  text-align: center;
  color: #999;
  font-style: italic;
  padding-bottom: 0.7rem;
}
.question, .answer{
  color: #999;
}


.date{
  font-size: 230%;
  color: #555;
  padding: 1rem 0 2rem 0.2rem;
}


h2.empty{
  color: #aaa;
}

.subject{
  font-size: 120%;
  padding-bottom: 0.8rem;
}

.message.odd:hover, .message.even:hover{
  background-color: #fff;
  cursor: pointer;
}

.date-holder{
  background-color: #ccc;
  padding: 0.1rem;
}
.date-holder.odd{
  background-color: #bbb;
}

.message{
  padding: 0.5rem;
  border: 1px solid #aaa;
  background-color: #fcfcfc;
  overflow: hidden;
}

.message:hover{
  border-color: #888;
}

.message.odd{
  /* background-color: #e0e0e0; */
}


.date-holder{
  border: 1px solid #ccc;
}

.footer{
  text-align: center;
  color: #888;
  /* The long padding at the bottom of the footer is so that when
   * items are collapsed the page will (hopefully) not scroll
   * too much padding and a page refresh is weird if you are at the
   * bottom */
  padding: 2rem 2rem 1rem;
}

.date{
  padding-bottom: 0.5rem;
}

a{
  /* text-decoration: none; */
  color: inherit;
}
a:hover{
  font-weight: bold;
}



/* Medium and large screens */
@media screen and (min-width: 700px) {

  body{
    padding: 2rem !important;
  }


  div{
    border-radius: 0.8rem;
  }

  .date-holder{
    margin: 0.5rem 1rem;
    padding: 1rem;
  }

  .date-holder + .date-holder{
  }

  .message{
    padding: 1rem;
    margin: 1rem 3rem;
  }

  .footer{
    margin: 1rem;
  }

  /* From reset */
  html, body, div, span, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  abbr, address, cite, code,
  del, dfn, em, img, ins, kbd, q, samp,
  small, strong, sub, sup, var,
  b, i,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section, summary,
  time, mark, audio, video {
    font-size:20px;
  }

}
