div{
  color: #222;
}

body{
  padding: 2rem 0.1rem;
  background-color: #222;
}

body.admin{
  background-color: #600;
}

.hidden{
  display: none;
}

#content{
  padding: 0.1rem;
}

#nav{
  position: absolute;
  right: -1px;
  top: -1.55rem;
}
.nav-item{
  background-color: #ccc;
  float: right;
  padding: 0.1rem 0.7rem;
  border-radius: 0.3rem 0.3rem 0 0;
}

.nav-item.faq{
  margin-left: 0.15rem;
}

.nav-item.active{
  background-color: #888;
}

#title{
  font-size: 200%;
  text-align: center;
  margin-top: -0.7rem;
  color: #999;
}
#subtitle{
  text-align: center;
  color: #999;
  font-style: italic;
  padding-bottom: 1.6rem;
}
.question, .answer{
  color: #999;
  padding: 0 3%;
}


.date{
  font-size: 230%;
  color: #555;
  padding: 1rem 0 2rem 0.2rem;
}


h2.empty{
  color: #aaa;
}

.subject{
  font-size: 120%;
}

.details{
  padding-top: 0.8rem;
}

.date-holder{
  background-color: #ccc;
  position: relative; /* This is so the nav can exist in absolute space */
}
.date-holder.odd{
  background-color: #bbb;
}

.message{
  padding: 0.5rem;
  border: 1px solid #aaa;
  background-color: #fafafa;
  overflow: hidden;
  box-shadow: 0.2rem 0.15rem 0.1rem #888;
  margin: 0.3rem;
  border-radius: 0.5rem;
}

.message.odd.duplicate, .message.even.duplicate{
  background-color: #800;
}

.message.odd{
  /* background-color: #e0e0e0; */
}

.date-holder{
  border: 1px solid #ccc;
}

.footer{
  text-align: center;
  color: #888;
  /* The long padding at the bottom of the footer is so that when
   * items are collapsed the page will (hopefully) not scroll
   * too much padding and a page refresh is weird if you are at the
   * bottom */
  padding: 2rem 2rem 1rem;
}

.date{
  padding-bottom: 0.5rem;
}

a{
  /* text-decoration: none; */
  color: inherit;
}
a:hover{
  font-weight: bold;
}

.question, .answer{
  color: #222;
}

.question{
  margin-top: 2rem;
  font-size: 130%;
  font-weight: bold;
  font-size: 110%;
}

#faq-spacer{
  height: 2.5rem;
}




/* Medium and large screens */
@media screen and (min-width: 700px) {

  body{
    padding: 2rem !important;
  }

  .date-holder{
    /* margin: 0.5rem 1rem; */
    padding: 1rem;
  }

  .date-holder + .date-holder{
  }

  .message{
    padding: 1rem;
    /* margin: 1rem 3rem; */
    box-shadow: 0.3rem 0.2rem 0.1rem #888;
    border-radius: 0.8rem;
  }

  /* Note that hover only applies to desktops */
  .message:hover{
    background-color: #fff;
    cursor: pointer;
    border-color: #888;
  }

  .footer{
    margin: 1rem;
  }

  /* From reset */
  html, body, div, span, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  abbr, address, cite, code,
  del, dfn, em, img, ins, kbd, q, samp,
  small, strong, sub, sup, var,
  b, i,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section, summary,
  time, mark, audio, video {
    font-size:20px;
  }

}

/* Large screens */
@media screen and (min-width: 1000px) {
  .date-holder{
    /* On wide screens, keep content narrow but centered */
    width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
  #subtitle{
    padding-bottom: 0.5rem;
  }
}
