%h1#title= page_title
#subtitle Frequently Asked Questions

.date-holder
  = haml :_nav, locals: locals
  .question How does it work?
  .answer Daily Dancer is a computer program that reads the Sacred Circle email list and determines which messages are event announcements. Anything that represents an event gets displayed, grouped next to other events happening the same day. Most of the time it does this correctly without any human intervention. If it misses one, let us know!

  .question I posted something to the list, and it does not show up on Daily Dancer. What do I do?
  .answer First, does your message represent an event? Only events show up on Daily Dancer.
  .answer Second, has the message already come through the list?
  .answer
    Third, if the above are true and it still does not show up,
    %a{href: mailto('Support')} send us an email
    so we can help. Please reference the subject line of the message you posted to the list and what day and time you sent it.

  .question I have a suggestion. Where do I send it?
  .answer
    Great! Would love to hear your feedback on usability and design. You can
    = "<a href='#{mailto('Feedback')}'>send feedback by email</a>."

  .question Do events on Daily Dancer show up in search engines such as Google?
  .answer No. Daily Dancer is opted out of search engine results. The only people that see the Daily Dancer are those that we share it with.

  .question Who built this?
  .answer You've probably seen him in the Tiffany Center on Sunday mornings in red pants and a black tanktop, or at contact improv on Tuesday nights. Jack started dancing in 2014, and loves to build things.

  .question What technologies does this use?
  .answer Daily Dancer uses open-source technologies---a combination of ruby, regular expressions, rspec, sinatra, sqlite, the sequel gem, jqlite, JavaScript, and CSS.

  #faq-spacer


